*,
html{
    margin: 10px;
    padding: 10px;
}

body{
    background-color: aqua;
    height: 100vh;
}

.container-navbar{
    background-color: lightblue;
    border-radius: 20px;
    height: 120px;
}

.container-navbar2{
    background-color: lightblue;
    border-radius: 20px;
    height: 100px;
}

.jdul-h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1{
    background-color: lightblue;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.foot{
    background-color: lightblue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.li-navbar{
    border: solid blue 2px;
    border-radius: 10px;
    background-color: bisque;
    list-style-type: none;
    padding: 10px;
    margin: 5px;
}

.li-navbar:hover{
    background-color: crimson;
    transition: .3s ease-in-out;
    transition-delay: .1s;
}

.a-navbar{
    color: black;
    text-decoration: wavy;
}

.img-content{
    height: 350;
    width: 350;

}

.image{
    width: 150px;
    height: 150px;
}

.foto{
    width: 350;
    height: 400;
}

.container-word{
    background-color: lightblue;
    border-radius: 20px;
}

.h1-home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.suara{
    display: flex;
    justify-content: center;
    align-items: center;
}

.music{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: lightblue;
}